<div class="nav_container animated fadeInDown">
  <div class="site_nav" id="site_nav">
    <ul>
      {{ range .Site.Menus.main }}
      <li>
        {{ if or (hasPrefix .URL "http://") (hasPrefix .URL "https://") }}
        <a href="{{ .URL }}">{{ .Name }}</a>
        {{ else }}
        <a href="{{ .URL | safeURL }}">{{ .Name }}</a>
        {{ end }}
      </li>
      {{ end }}
    </ul>
  </div>
  <div class="menu_icon">
    <a id="menu_icon"><i class="remixicon-links-line"></i></a>
  </div>
</div>
